name: Makefile CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Install dependencies
      run: sudo apt install autoconf automake lua
      
    - name: Run autotools
      run: mkdir config && aclocal && autoconf && automake --add-missing --foreign
